<!--div *ngFor="let gender of genders">
  <p>{{gender.gender}}</p>
  <a [routerLink]="['/genders/edit', gender.id]">{{gender.gender}}</a>
</div-->

<button pButton [routerLink]="['/genders/create']"
  type="button" label="Add" icon="fa fa-fw fa-plus"></button>


<p-table [value]="genders" [columns]="cols" dataKey="id"
  [paginator]="true" [rows]="10" [totalRecords]="page?.totalElements"
  [lazy]="true" (onLazyLoad)="loadLazy($event)" [loading]="loading"
  selectionMode="single">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{data[col.field]}}
      </td>
      <td>
        <button pButton [routerLink]="['/genders/edit', data.id]"
          type="button" icon="fa fa-fw fa-edit"></button>
      </td>
    </tr>
  </ng-template>
</p-table>