<mat-toolbar color="primary" class="app-header">
    <button mat-icon-button (click)="snav.toggle()">
            <span class="fa fa-fw fa-bars"></span>
    </button>
    <h1>Responsive App</h1>
</mat-toolbar>

<mat-sidenav-container class="app-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" 
        [opened]="mobileQuery.matches ? 'false' : 'true'" 
        [fixedInViewport]="mobileQuery.matches" 
        class="app-sidenav">
        <app-sidenavmenu></app-sidenavmenu>
    </mat-sidenav>

    <mat-sidenav-content id="app-main-container">        
        <app-agenda ></app-agenda>        
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar color="accent" class="app-footer">Footer</mat-toolbar>

