<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit(appointmentForm.value)">
  <div class="ui-g ui-fluid">

    <div class="ui-g-12">
      <label>Paciente:</label>
      <!--input pInputText type="text" formControlName="service" placeholder="Required" /-->
      <div class="ui-g-12">
        <!--p-dropdown [options]="patientsList" formControlName="patient_id" lazy="true" placeholder="Seleccione Paciente" [autoWidth]="false"></p-dropdown-->
        <p-autoComplete formControlName="patient_id" 
          [suggestions]="patientsList"
          field="fullName" dataKey="id"
          (completeMethod)="searchPatients($event)"
          placeholder="Seleccione Paciente"
          emptyMessage="No se encuentra paciente"
          [forceSelection]="true" [dropdown]="false">
          <ng-template let-appointment pTemplate="item">    
            <div class="ui-g">
              <div class="ui-g-1 ui-sm-2"><span class="fa fa-fw fa-user"></span></div> 
              <div class="ui-g-7 ui-sm-10">{{appointment.fullName}}</div>
              <div class="ui-g-4 ui-sm-10 ui-sm-offset-2">{{appointment.phone1}}{{appointment.phone2 != '' ? ', '+appointment.phone2 : ''}}</div>                         
            </div>
        </ng-template>
        </p-autoComplete>
      </div>
      <div class="ui-g-12" *ngIf="!appointmentForm.controls['patient_id'].valid&&appointmentForm.controls['patient_id'].dirty">
        <p-message severity="error" text="Paciente is required"></p-message>
      </div>
    </div>

    <div class="ui-g-12">
      <label>Servicio:</label>
      <div class="ui-g-12">
        <p-dropdown [options]="servicesList" formControlName="service_id" lazy="true" placeholder="Seleccione Servicio" [autoWidth]="false"></p-dropdown>
      </div>
      <div class="ui-g-12" *ngIf="!appointmentForm.controls['service_id'].valid&&appointmentForm.controls['service_id'].dirty">
        <p-message severity="error" text="Pacient Name is required"></p-message>
      </div>
    </div>

    <div class="ui-g-6 ui-sm-12">
      <label>Clinica:</label>
      <div class="ui-g-12">
        <p-dropdown [options]="clinicsList" formControlName="clinic_id" lazy="true" placeholder="Seleccione Clinica" [autoWidth]="false"></p-dropdown>
      </div>
      <div class="ui-g-12" *ngIf="!appointmentForm.controls['clinic_id'].valid&&appointmentForm.controls['clinic_id'].dirty">
        <p-message severity="error" text="Clinica is required"></p-message>
      </div>
    </div>

    <div class="ui-g-6 ui-sm-12">
      <label>Doctor:</label>
      <div class="ui-g-12">
        <p-dropdown [options]="doctorsList" formControlName="doctor_id" lazy="true" placeholder="Seleccione Doctor" [autoWidth]="false"></p-dropdown>
      </div>
      <div class="ui-g-12" *ngIf="!appointmentForm.controls['doctor_id'].valid&&appointmentForm.controls['doctor_id'].dirty">
        <p-message severity="error" text="Doctor is required"></p-message>
      </div>
    </div>

    <div class="ui-g-6 ui-sm-12">
      <label>Inicio:</label>
      <div class="ui-g-12">
        <p-calendar placeholder="Start Date" formControlName="start" [showTime]="true" appendTo="body" showIcon="true" [showOnFocus]="false"
          dateFormat="dd/mm/yy" hourFormat="12"></p-calendar>
      </div>
      <div class="ui-g-12" *ngIf="!appointmentForm.controls['start'].valid&&appointmentForm.controls['start'].dirty">
        <p-message severity="error" text="Pacient Name is required"></p-message>
      </div>
    </div>

    <div class="ui-g-6 ui-sm-12">
      <label>Fin:</label>
      <div class="ui-g-12">
        <p-calendar placeholder="End Date" formControlName="end" [showTime]="true" appendTo="body" showIcon="true" [showOnFocus]="false"
          dateFormat="dd/mm/yy" hourFormat="12"></p-calendar>
      </div>
      <div class="ui-g-12" *ngIf="!appointmentForm.controls['end'].valid&&appointmentForm.controls['end'].dirty">
        <p-message severity="error" text="Pacient Name is required"></p-message>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="{{optionDelete?'ui-g-6':'ui-g-8'}} ui-sm-12">
        <button pButton type="submit" label="Guardar" (click)="save()" icon="fa fa-fw fa-save" [disabled]="false"></button>
      </div>
      <div class="ui-g-3 ui-sm-12" *ngIf="optionDelete">
        <button pButton type="button" label="Borrar" (click)="delete()" icon="fa fa-fw fa-trash" 
          class="ui-button-danger"></button>
      </div>
      <div class="{{optionDelete?'ui-g-3':'ui-g-4'}} ui-sm-12">
        <button pButton type="button" label="Cancel" (click)="cancel()" icon="fa fa-fw fa-close"
          class="ui-button-secondary"></button>
      </div>
    </div>

    <!--div *ngIf="submitted">
      Form Submitted
      <br> {{diagnostic}}
    </div-->
  </div>
</form>