<div style="position: absolute;top: 0px;bottom: 0px;left: 0px;right: 0px;border: 1px solid green;">
  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <p-button label="Agregar" (onClick)="addAppointment()"></p-button>
    </div>
    <div class="ui-toolbar-group-right">
      <button pButton type="button" icon="fa-refresh" class="ui-button-success"></button>
    </div>
  </p-toolbar>
  
  <div class="separator"></div>

  <div style="position: absolute;top: 50px;bottom: 0px;left: 0px;right: 0px;border: 1px solid red;overflow: ">
    <p-schedule [events]="appointments" [header]="headerConfig" [businessHours]="businessHours" 
      [scrollTime]="scrollTime" [aspectRatio]="2.5"
      [editable]="true" 
      (onEventClick)="editAppointment($event)" 
      (onDayClick)="addAppointmentOnDate($event)"
      locale="es" defaultView="agendaWeek"
      nowIndicator="true" [allDaySlot]="false"></p-schedule>
  </div>

  <p-dialog [(visible)]="dialogVisible" [width]="720" [appendTo]="body">
    <p-header>
      Cita
    </p-header>
    <app-appointment [appointment]="selectedAppointment" (onCancel)="showDialog(false)"></app-appointment>

  </p-dialog>
</div>