@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*Fix for firefox*/
.ui-splitbutton-menubutton.ui-button-icon-only .ui-button-text {
  overflow: visible;
}

.padding-tb{
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-global-filter{
  text-align: right;    
  padding: 5px;
}
.table-global-filter .ui-inputgroup{
  justify-content: flex-end;
}
.table-global-filter .ui-inputgroup input{
  width:auto;  
}

.ui-growl{
  margin-top: 60px;
}

.separator{
  display: block;
  height: 10px;
}

td.fc-today{
  background-color: #91cde044;  
  border-color: #5bc0de;
}