@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*Fix for firefox*/
.ui-splitbutton-menubutton.ui-button-icon-only .ui-button-text {
  overflow: visible;
}

.separator{
  display: block;
  height: 10px;
}

td.fc-today{
  background-color: #91cde044;  
  border-color: #5bc0de;
}